/* Message_screen.css */
.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  margin: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 11px;
  height: 35px;
  border-radius: 10px;
  max-width: 80%;
  background-color: transparent;
  color: #000;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6; /* Sent message styling */
}

.received {
  align-self: flex-start;
  background-color: #f1f0f0; /* Received message styling */
}

.pcolor {
  background-color: transparent;
}
